.notesListContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.notesListPageContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
